@import '../../../styles/utils/ColorPallete';
@import '../../../assets/fonts/SnellRoundhadRegular';

.container {
	font-family: 'Snell Roundhad', sans-serif;

	background: $primary;
	box-shadow: $primary-shadow;
	border-radius: 15px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 1em 0 1em;

	width: 221px;
	height: 36px;

	font-weight: 350;
	line-height: 36px;

    font-size: 19px;
    color: $primary-font;
    
	svg {
		height: 26px;
		width: 26px;
	}
}
