@import '../../../styles/utils/ColorPallete';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;

	.content-container {
		width: 464px;
		height: 445px;

		background: $primary;
		box-shadow: $primary-shadow;
		border-radius: 15px;

        .parser-container {
            width: 100%;
            height: calc(100% - 80px);

            position: relative;
        }
	}

    .controls-container {
        width: 100%;
        height: fit-content;
        padding: 15px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        .side-icon {
            width: 48px;
            height: 48px;

            fill: $primary-icon;
        }

        .buttons {
            display: flex;
            gap: 10px;
        }
    }
}
