@import '../assets/fonts/Zapfino';
@import './utils/ColorPallete';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
    gap: 20px;

	width: 100vw;
	height: 100vh;

	.title {
        margin-top: -35px;
		font-family: 'Zapfino', sans-serif;

		width: 514px;
		height: 97px;

		font-weight: 400;
		font-size: 36px;
		line-height: 122px;

		color: $primary-font;
	}

	.content {
		display: flex;
		gap: 65px;
	}
}

// Dark theme
.container.dark {
    .title {
        color: $dark-font;
    }
}

// Adaptive layout

@media (max-width: 1050px) {
    .container {
        .content {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
    }
}

@media (max-width: 600px) {
    .container {
        transform: scale(0.7);
        margin-top: -100px;
    }
}