@import '../assets/fonts/Zapfino';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;

    .title {
        font-family: 'Zapfino', sans-serif;
    }

    .content {
        display: flex;
        gap: 65px;
    }
}