@import '../../../styles/utils/ColorPallete';

// Tooltip selector
[data-reach-tooltip] {
	width: fit-content;
    height: 24px;
    padding: 0.5em;

	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.action-btn {
	width: 36px;
	height: 36px;

	border: none;
	border-radius: 50%;
	background: $primary-button;
	box-shadow: $primary-button-shadow;

	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 19px;
		height: 19px;

		color: $primary-icon;
	}

	transition: 500ms;

	&:hover {
		cursor: pointer;
		transform: translateY(2px);
		scale: 1.05;

		filter: brightness(0.9);
	}
}

.action-btn.active {
	filter: brightness(0.9);
}

// Dark theme 
.action-btn.dark {
    background: $dark-button;
    box-shadow: $dark-button-shadow;

    svg {
        color: $dark-icon;
    }

    &:hover {
        filter: brightness(1.1);
    }
}
