@import '../../../styles/utils/ColorPallete';
@import '../../../assets/fonts/AmericanTypewriterRegular';

.container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.content-container {
		width: 464px;
		height: 445px;

		background: $primary;
		box-shadow: $primary-shadow;
		border-radius: 15px;

		.parser-container {
			width: 100%;
			height: calc(100% - 90px);

			padding: 20px;

			overflow: scroll;

			.loading {
				font-family: 'American Typewriter', sans-serif;
				color: black;
			}
		}
	}

	.stats-container {
		display: flex;
		align-items: center;
		margin-top: 15px;
		gap: 10px;

		font-family: 'American Typewriter', sans-serif;
		font-size: 16px;
	}
}

// Dark theme
.container.dark {
	.content-container {
		background-color: $dark;
		box-shadow: $dark-shadow;

		.parser-container {
			.loading {
				color: $dark-font;
			}
		}
	}

	.stats-container {
		color: $dark-font;
	}
}

// Adaptive layout

@media (max-width: 1050px) {
	.container {
		margin-bottom: 20px;
	}
}
